body {
  font-family: "Georgia", serif;
  line-height: 1.4em; }

#wrapper {
  width: 760px;
  margin: 0 auto; }

a {
  color: #999999; }

a:active {
  position: relative;
  top: 1px; }

a:hover {
  color: #333333; }

#input-form {
  width: 600px;
  margin: 40px 80px; }
  #input-form input {
    font-family: "Georgia", serif;
    height: 20px;
    font-size: 20px; }
  #input-form .url {
    width: 500px; }
  #input-form .button {
    width: 80px; }

#share {
  margin: 0 90px; }
  #share .twitter-share-button {
    height: 35px !important; }
