body
  font-family: 'Georgia', serif
  line-height: 1.4em
 
#wrapper
  width: 760px
  
  margin: 0 auto
  
a
  color: #999

a:active
  position: relative
  top:      1px
  
a:hover
  color: #333
  
#input-form
  width:  600px
  margin: 40px 80px

  input
    font-family: 'Georgia', serif
    height:      20px
    font-size:   20px
  .url
    width:       500px
    
  .button
    width:  80px
  
#share
  margin: 0 90px

  .twitter-share-button
    height: 35px !important
  .facebook
  